@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 10px;
    font: inherit;
    vertical-align: baseline;
    color: inherit;
    text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-size: 10px;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
    opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
    outline: 2px solid #f00;
    outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
    opacity: 0.4;
    pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
    font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: "Inter";
  src: url("../fonts/../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: "Inter";
  src: url("../fonts/../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

*,
*::before,
*::after {
    font-size: 10px;
    box-sizing: border-box;
}

img {
    height: auto;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn-reset {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.centered {
    text-align: center;
}

.background-center {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html, body {
    font-size: 10px;
    height: 100%;
    scroll-behavior: smooth;
}

.main {
    height: 100%;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

/* Работает в Chrome, Edge и Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: rgba(20, 16, 36, 0.08);
    border-radius: 40px;
}

*::-webkit-scrollbar-thumb {
    background-color: #141024;
    border-radius: 40px;
}

.container {
    width: 100%;
    max-width: 153.8rem;
    margin: 0 auto;
    padding: 0 3rem;
}

.page {
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
}

.header {
    background: rgba(25, 26, 27, 0.35);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.header__inner__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.header__inner__item > img {
    margin-right: 1.2rem;
    pointer-events: none;
}

.header__inner__item:nth-child(2) > img {
    padding: 0.9rem 0 0.8rem;
    margin-right: 0;
}

.header__inner__item__burger {
    width: 30px;
    height: 23px;
}

.header__inner__item__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    color: #FFFFFF;
    pointer-events: none;
}

.header__inner__item__search {
    width: 24px;
    height: 24px;
}

.burger {
    height: 100vh;
    width: 62.4rem;
    background: rgba(25, 26, 27, 0.35);
    box-shadow: 14px 0px 25px rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all 0.4s ease-in-out;
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
    opacity: 0;
}

.burger.burger-active {
    display: -ms-flexbox;
    display: flex;
}

.burger__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 2.6rem;
    left: 12.5rem;
    z-index: 10;
    cursor: pointer;
}

.burger__item__close {
    width: 24px;
    height: 24px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-right: 1.8rem;
    pointer-events: none;
}

.burger__item__closetext {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    pointer-events: none;
}

.burger__menu {
    width: 100%;
    max-width: 423px;
    height: 387px;
    text-align: right;
    margin: 0 15.4rem 0 4.7rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4.8rem;
}

.burger__menu > li > a {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.75);
}

.hero {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__inner {
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.hero__inner__main__title {
    display: block;
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 7.2rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero__inner__main__link {
    display: block;
    max-width: 28.9rem;
    background: #FFFFFF;
    border-radius: 50px;
    padding: 10px 59px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    white-space: nowrap;
    margin: 4.8rem auto 0;
}

.hero__inner__bottom {
    position: absolute;
    bottom: 2.4rem;
    left: 0;
    right: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.hero__inner___bottom__phone {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero__inner__bottom__social {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    max-width: 177px;
    max-height: 35px;
}

.hero__inner__botom__social__image {
    width: 35px;
    height: 28px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
}